@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bricolage Grotesque' , sans-serif;
 
}

body{
  background-color: rgb(170, 170, 170);
}

.style:hover{
    border-bottom:2px solid rgba(146, 146, 146, 0.873);
}

.sec-1{
    width: 1240px;
    height: 668px;
    background-color: rgb(249, 230, 208);
}

.nav-item{
    font-size: large;
}

.nav-item:hover{
     border-bottom: 1px solid rgb(47, 51, 51);
}

.btn-:hover{
     box-shadow: 0 5px 30px rgba(0, 0, 0, 0.438);
     transform: scale(1.05);
}

.btn1{
    background-color: rgb(255, 255, 255);
}

.btn-{
    transition: all 0.2s ease-in ;
}

.btn-1{
    background-color: rgb(0 , 55, 62);
    border: none;
}

.img-1{
   margin-top:108px;
   margin-left: -13px;
}
    
.img-3{
    margin-right: -13px;
}

.img-2{
   background-color: rgb(0, 55, 62);
   padding-top:50px ;
   padding-left: 60px;
   padding-right: 60px;
   
}

.text{
    color: rgb(0, 55, 62);
}

.c-con{
     border-radius: 40px;
    background-color: rgb(249, 230, 208);
}

.c-sec{
   display: inline;
}

.img-5{
    margin-right: -13px;
}

.icon-1{
    font-size: 40px;
}

.round{
    border-radius: 60px;
}

.sec-2{
    width: 393px;
    background-color: rgb(249, 230, 208);
}

.sec-3{
    width: 393px;
    background-color: rgb(0, 55, 62);
}

.lg-1{
    width: 180px;
    height: 40px;
}

.lg-2{
    width: 129px;
    height: 35px;
}

.lg-3{
    width: 145px;
    height: 22px;
}

.lg-4{
    width: 92px;
    height: 43px;
}

.lg-5{
    width: 115px;
    height:22px;
}

.img-6{
    overflow: hidden;
}

.consult2{
     background-color:#f3f3f3;
    border-radius: 50px;
}

.sms-btn{
    margin-left: 140px;
    padding: 15px 60px;
    margin-bottom: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.tagline{
    margin-top: 200px;
}

.img-7{
    margin-right: -50px;
}

.btn-2{
    background-color: rgb(0 , 55, 62);
    border: none;
}

.c-1{
    background-color: rgb(0 , 55, 62);
}

.card-2{
    background-color: rgb(0 , 55, 62);
    color: white;
}

.btn-3{
    margin-left: 120px;
    background-color:   rgb(255, 255, 255);
    border: none;
    padding: 10px 50px;
}

.xtra{
    height: 50vh;
    position: relative;
    margin-top: 20vh;
}

.xtra img{
    height: 120%;
    position:absolute;
    bottom: 0;
}














